---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---



<!-- 
{% include base_path %}

<section>
  {% include_relative _teaching/teaching-experience.md %}
</section>



## Teaching Experience

### Teaching Roles

#### University College London
- **MSc Computational Finance**
  - Financial Engineering (COMP0048), Fall 2023
  - Applied Computational Finance (COMP0041), Spring 2024

#### University of Chile
- **Industrial Engineering**
  - Modelling and Optimization (IN3171), Fall 2023
  - Decisions Under Uncertainty (IN3272), Spring 2021 & 2022
  - Game Theory and Strategy (IN3221), Spring 2021
  - Probabilities (IN3141), Fall 2021
  - Operations Research (IN3702), Spring 2020 & Fall 2021
  - Modelling and Optimization (IN3701), Fall 2020
- **Mathematics Engineering**
  - Introduction to Calculus (MA1001), Fall 2020
  - Introduction to Algebra (MA1101), Spring 2019
  - Probabilities and Statistics (MA3403), Fall 2019

#### University Adolfo Ibáñez
- **Industrial Engineering**
  - Operations Research (ING201), Summer 2022 & Fall 2021

### Teaching Assistant Roles

#### University Finis Terrae
- **Industrial and Informatics Engineering**
  - Stochastic Models (NRC 27285), Spring 2023

### Exam Assistant Roles

#### University of Chile
- **Industrial Engineering**
  - Assistant for Probabilities (IN3141), Fall 2022
  - Information Engineering (IN4151), Fall 2022
  - Modelling and Optimization (IN3701), Spring 2019
 -->

<!-- 
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
